<!DOCTYPE html>
<html>
<head>
	<title>EmojiConTracker</title>
	<link rel='shortcut icon' href='😂' type='image/x-icon'/ > 
	<link rel="stylesheet" href="css/_bower.css"/>
	<link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/style.css">


</head>
<body>

	<div class="container-fluid">
		<div class="row under-score" id="linearBg1">
				<ul class="col-xs-3 text-left mover">
					<li class="dropdown">
						<a class="dropdown-toggle " data-toggle="dropdown"><h4>about</h4></a>
					    <ul class="dropdown-menu">
					        <li><p class="about-text">
					       

								The Emojicon Heat Map<br> <br>is a real time visualization of emoji use during the first ever EmojiCon –  a multiple day celebration of all-things emoji taking place November 4-6, 2016 in beautiful San Francisco. 
								<br>
								<br>
								Learn more here: <a href="http://2016.emojicon.co/"> emojicon.co/</a>
								<br>

								</p>
					        </li>
					     </ul>
					</li>
				</ul>
			    <h1 class="col-xs-6 text-center"><b>em💛jic😂n</b> heatmap</h1>
			
				<h4 class= "col-xs-3 text-right">
					<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=What+emojis+are+trending+at+%23Em💛jic😂n%3F+Find+out+with+a+real+time+visualization+of+emojis+use+with+the+Emoji+Heat+Map%21">share</a>
				</h4>
		</div>
		<div class="row">
			<div class="col-sm-12" id="emoji"></div>
		</div>
		
	</div>
</body>
<script type="text/javascript" src="js/_bower.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>

</html>
